<table width=270 border=0 bgcolor="444444">
    <tr>
        <td><button value="Menu" action="%spawnMenu%" width=50 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="De-spawn All" action="%despawnAll%" width=110 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="Re-Spawn All" action="%spawnAll%" width=110 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table>
<table width=270 border=0 bgcolor="444444">
    <tr>
        <td><button value="De-spawn One" action="%despawnOne%" width=110 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="Remove Spawn" action="%removeSpawn%" width=110 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table>
<img src="L2UI.SquareWhite" width=270 height=1><br>
<table width=270 border=0 bgcolor="444444">
    <tr>
        <td><combobox width=100 height=17 var=amountbox list="1;2;3;4;5;10;20;30;40;50;100;200;300;400;500"></td>
        <td align=right><button value="Spawn Additional" action="%spawnMore% $amountbox" width=120 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table>