<table width=270 border=0>
    <tr>
        <td><button value="On Enter" action="%enter%" width=100 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="On Exit" action="%exit%" width=100 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
    <tr>
        <td><button value="Activation" action="%activate%" width=100 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="De-activation" action="%deactivate%" width=100 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table><br>
<img src="L2UI.SquareWhite" width=270 height=1><br>
<table width=270 border=0>
    <tr>
        <td><button value="View Shape" action="%shapeAction%" width=80 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="Teleport On Random Point" action="%teleportAction%" width=160 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table><br>
<img src="L2UI.SquareWhite" width=270 height=1><br>