<center><font color=b22222>Item Use Skills</font></center><br>
<table border=0 width="100%">
    <tr>
        <td width="36"><font color="LEVEL">Icon</font></td>
        <td width="180"><font color="LEVEL">Name</font></td>
        <td width="50"><font color="LEVEL">View</font></td>
    </tr>
    %items%
</table>