<table border="0" width="100%">
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">RecipeId</font></td><td align=right width=170><font color=00FF00>%recipeId%</font></td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Craft Level</font></td><td align=right width=170>%craftLevel%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">Success Rate</font></td><td align=right width=170><font color=00FF00>%successRate%</font> %</td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Consume MP</font></td><td align=right width=170>%statAmount%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">Type</font></td><td align=right width=170>%type%</td></tr></table></td></tr>
</table><br><br>
<center><font color=b22222>Recipe Inputs</font></center><br>
<table border=0 width="100%">
    <tr>
        <td width="36"><font color="LEVEL">Icon</font></td>
        <td width="155"><font color="LEVEL">Name</font></td>
        <td width="40"><font color="LEVEL">Count</font></td>
        <td width="40"><font color="LEVEL">View</font></td>
    </tr>
    %inputs%
</table>
<center><font color=b22222>Recipe Outputs</font></center><br>
%outputs%