<table border="0" width="100%">
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">Crystal Type</font></td><td align=right width=170><font color=%crystalColor%>%crystalType%</font></td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Part of Set</font></td><td align=right width=170>%armorSet%</td></tr></table></td></tr>
</table><br><br>
%itemSkills%<br><br>
%armorSetSkills%