<table border="0" width="100%">
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=50><font color="LEVEL">Action</font></td><td align=right width=230><button value="View" action="%action%" width="40" height=17 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">ItemId</font></td><td align=right width=170>%itemId%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=50><font color="LEVEL">Name</font></td><td align=right width=230><font color=00FF00>%name%</font></td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">Amount</font></td><td align=right width=170>%amount%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Success Rate</font></td><td align=right width=170>%rate% %</td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">Item Grade</font></td><td align=right width=170><font color=%crystalColor%>%crystalGrade%</font></td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Type</font></td><td align=right width=170>%type%</td></tr></table></td></tr>
</table><br>
<img src="L2UI.SquareWhite" width=270 height=1><br>