<td width=55><font color="LEVEL">Apply Lvl</font></td>
<td><combobox width=40 height=17 var=level list="%skillLevels%"></td>
<td align=right><button value="On Target" action="bypass admin_skill-apply-targetof %playerId% %skillId% $level" width=80 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td align=right><button value="On Self" action="bypass admin_skill-apply %playerId% %skillId% $level" width=60 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>