<center><font color=b22222>%name%</font></center><br>
<table border=0 width="100%">
    <tr>
        <td width="36"><font color="LEVEL">Icon</font></td>
        <td width="200"><font color="LEVEL">Name</font></td>
        <td width="30"><font color="LEVEL">Qty</font></td>
    </tr>
    %items%
</table>