<tr>
    <td>%name%</td>
</tr>
<tr>
    <td>
        <table>
            <tr>
                <td width="100">Vitality Level</td>
                <td width="25"></td>
                <td width="25"></td>
                <td width="25"></td>
                <td width="25"></td>
                <td width="25"></td>
                <td width="25"></td>
            </tr>
            <tr>
                <td>%vitality% ( %points% points )</td>
                <td><button value="0" width=25 height=25 action="%command% 0 %playerName%" back="L2UI_CT1.Button_DF_Calculator_Down" fore="L2UI_CT1.Button_DF_Calculator"/></td>
                <td><button value="1" width=25 height=25 action="%command% 1 %playerName%" back="L2UI_CT1.Button_DF_Calculator_Down" fore="L2UI_CT1.Button_DF_Calculator"/></td>
                <td><button value="2" width=25 height=25 action="%command% 2 %playerName%" back="L2UI_CT1.Button_DF_Calculator_Down" fore="L2UI_CT1.Button_DF_Calculator"/></td>
                <td><button value="3" width=25 height=25 action="%command% 3 %playerName%" back="L2UI_CT1.Button_DF_Calculator_Down" fore="L2UI_CT1.Button_DF_Calculator"/></td>
                <td><button value="4" width=25 height=25 action="%command% 4 %playerName%" back="L2UI_CT1.Button_DF_Calculator_Down" fore="L2UI_CT1.Button_DF_Calculator"/></td>
                <td><button value="5" width=25 height=25 action="%command% 5 %playerName%" back="L2UI_CT1.Button_DF_Calculator_Down" fore="L2UI_CT1.Button_DF_Calculator"/></td>
            </tr>
        </table>
    </td>
</tr>