<tr>
    <td><font color=%crystalColor%>%name%</font> (<font color=%typeColor%>%type%</font>)</td>
    <td>%grade%</td>
    <td><button value="View" action="bypass -h %action%" width=45 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>