<center><font color="LEVEL">Pc Bang Points</font></center><br>
<table width=270 border=0>
    <tr>
        <td width=40><font color="LEVEL">Amount:</font></td>
        <td><combobox width=70 height=17 var=amountbox list="10;50;100;500;1000;5000;10000;50000"></td>
        <td align=right><button value="Add" action="%addPcPoints% $amountbox" width=40 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td align=right><button value="Remove" action="%removePcPoints% $amountbox" width=60 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table><br>
<center><font color="LEVEL">Item Shop Points</font></center><br>
<table width=270 border=0>
    <tr>
        <td width=40><font color="LEVEL">Amount:</font></td>
        <td><combobox width=70 height=17 var=amountbox list="10;50;100;500;1000;5000;10000;50000"></td>
        <td align=right><button value="Add" action="%addShopPoints% $amountbox" width=40 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td align=right><button value="Remove" action="%removeShopPoints% $amountbox" width=60 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table><br><br>
<center><font color="LEVEL">Send Packet to Player</font></center><br>
<table width=270 border=0>
    <tr>
        <td width="220"><font color="LEVEL">Name</font></td>
        <td width="50"><font color="LEVEL">Action</font></td>
    </tr>
    %packets%
</table>