<tr>
    <td>%name%</td>
    <td><button value="View" action="bypass -h %view%" width=45 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    <td><button value="%actionName%" action="bypass -h %action%" width=55 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>