<tr>
    <td>%name%</td>
    <td>%petName%</td>
    <td>%itemId%</td>
    <td><button value="Get Pet Item" action="bypass -h admin_create-givetargetid %objectId% %itemId%" width=100 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
