<img src="L2UI.SquareWhite" width=270 height=1><br>
<font color="LEVEL">Level</font> : %level% [ <font color=00FF00>%skillSize%</font> skills ]<br>
<font color="LEVEL">Delay</font> : %delay% seconds<br>
<font color="LEVEL">MaxActions</font> : %maxActions%<br>
<font color="LEVEL">Power</font> : %power%<br>
<font color="LEVEL">Target</font> : %target%<br>
<font color="LEVEL">Chance</font> : %chance%%<br>
<font color="LEVEL">Target HP</font> : %targetHp%<br>
<table border=0 width="100%">
    <tr>
        <td width="40"><font color="LEVEL">Id</font></td>
        <td width="40"><font color="LEVEL">Level</font></td>
        <td width="70"><font color="LEVEL">Activation</font></td>
        <td width="70"><font color="LEVEL">Use Chance</font></td>
    </tr>
    %skills%
</table><br>