<td width=60><font color="LEVEL">Apply Level</font></td>
<td><combobox width=40 height=17 var=level list="%cubicLevels%"></td>
<td align=right><button value="On Target" action="%bypassTarget%" width=80 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td align=right><button value="On Self" action="%bypassSelf%" width=60 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
