<tr>
    <td>
        <table width=270 border=0>
            <tr>
                <td width=170><font color="LEVEL">%name% (%cubicId%)</font></td>
                <td align=right width=50>
                    <button value="Add" action="bypass admin_cubic-add %cubicId%" width=50 height=21
                            back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
                </td>
                <td align=right width=50>
                    <button value="View" action="bypass admin_cubic-info %cubicId%" width=50 height=21
                            back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
                </td>
            </tr>
        </table>
    </td>
</tr>