<tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">Skill %counter% Name</font></td><td align=right width=170><font color=00FF00>%name%</font></td></tr></table></td></tr>
<tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Skill %counter% Id (level)</font></td><td align=right width=170><font color=999999>%skillId%</font> ( %skillLevel% )</td></tr></table></td></tr>